@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600&display=swap');

body{
    font-family: "Poppins", serif;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.overlay{
    background-image: url('../img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    height: 600px;
    position: relative;
    z-index: 1;
}

.overlay::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(90deg, #000 19.46%, rgba(0, 0, 0, 0.00) 81.64%);
    z-index: -1;
}